name: Publish to ComfyUI Registry
on:
  push:
    paths:
      - "pyproject.toml"
    branches:
      - main
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - uses: actions/checkout@v4
      - uses: comfy-org/publish-node-action@main
        with:
          personal_access_token: ${{ secrets.REGISTRY_ACCESS_TOKEN }}
